// 全局颜色
$blue:#38BB96; // 宽 高 行高 最小高
$red:#E8054C;
$green:#38BB96;
$fff6:rgba(255, 255, 255, 0.6);
$color_day:#fff; //白天背景色值
$color_night:#171E28; // 夜晚背景色值
// 白天
.day_style {
    .defaultBg {
        background: #C2C2C2;
    }
    .focuseLine {
        background: $color_night;
    }
    .van-cell:not(:last-child)::after {
        border-bottom: 1px solid #ebedf0 !important
    }
    .van-switch {
        background-color: #fff;
        .van-switch__node {
            background-color: #fff;
        }
    }
    .van-switch--on {
        background-color: #38BB96 !important;
        .van-switch__node {
            background-color: #fff !important;
        }
    }
    .greyBg {
        background: rgba(248, 249, 253, 1) !important;
    }
    .van-cell-group {
        background-color: $color_day
    }
    .van-icon-arrow-left:before {
        color: #333;
    }
    .van-button--default {
        background: #fff;
        color: #333
    }
    .van-cell {
        background: #fff;
        // color: rgba(225, 225, 225, .8);
    }
    .allContract_tabBar {
        .van-tab {
            color: #444444;
        }
    }
    .c_darkgray {
        color: #cccccc;
    }
    //密码框
    .van-password-input__security li {
        background: #fff;
    }
    .stepItem .span {
        background: rgba(206, 206, 206, 1);
    }
    //键盘
    .van-number-keyboard {
        background: $color_day;
        .van-key {
            color: $color_night;
        }
    }
    .bg_exit_btn {
        background: #fff
    }
    .all_con {
        background: #F8F7FD;
    }
    .van-tab {
        color: #444
    }
    .contract_style1 {
        background: rgba(248, 247, 253, 1);
    }
    .contract_style2 {
        background: rgba(248, 247, 253, 0.7);
    }
    .darkLine {
        height: 6px;
        background: rgba(248, 247, 253, 1);
        margin-left: -15px;
        margin-right: -15px;
    }
    .bg_tabbar {
        background-color: #1C2530
    }
    // 头部
    .header_bg_style {
        background-color: $color_day;
    }
    // bg
    .bg_ededed {
        background: #ededed
    }
    .bg_blue {
        background-color: $blue
    }
    .bg_bg {
        background: #F8F7FD
    }
    .bg_fff {
        background: #fff
    }
    // color
    .cfff9 {
        color: #fff9
    }
    .c_blue {
        color: #499C7A
    }
    .c_green {
        color: #38BB96
    }
    .c_red {
        color: $red
    }
    .c000 {
        color: #000
    }
    .c111 {
        color: #111
    }
    .c222 {
        color: #222
    }
    .c333 {
        color: #333
    }
    .c444 {
        color: #444
    }
    .c555 {
        color: #555
    }
    .c666 {
        color: #666
    }
    .c777 {
        color: #777
    }
    .c888 {
        color:#1C2530
    }
    .c999 {
        color: #999
    }
    .c_fff {
        color: #000
    }
    //背景颜色 
    .a_bg_fff {
        background: #fff
    }
    .a_bg {
        background: #F8F7FD
    }
    // 边框
    $e3e3e3:rgba(225, 225, 225, .5);
    .bor_t {
        border-top: 1px solid $e3e3e3
    }
    .bor_b {
        border-bottom: 1px solid $e3e3e3
    }
    .bor_l {
        border-left: 1px solid $e3e3e3
    }
    .bor_r {
        border-right: 1px solid $e3e3e3
    }
    .b_bg {
        background: #f8f8f8;
    }
}

// 黑夜模式
.night_style {
    .defaultBg {
        background: rgba(0, 0, 0, .2);
    }
    .focuseLine {
        background: $color_day;
    }
    // input 最下面的 下边框 realname 路由
    [class*=van-hairline]::after {
        border: 0 solid #313131 !important
    }
    .van-cell:not(:last-child)::after {
        border-bottom: 1px solid #313131 !important
    }
    //键盘
    .van-number-keyboard {
        background: $color_night;
        .van-key {
            color: $color_day;
        }
        .van-key--gray {
            background: $color_night;
        }
    }
    .van-switch {
        background-color: rgba(248, 249, 253, 0.1);
        .van-switch__node {
            background-color: rgba(248, 249, 253, 0.1);
        }
    }
    .van-switch--on {
        background-color: #499C7A !important;
        .van-switch__node {
            background-color: #fff !important;
        }
    }
    .greyBg {
        background: rgba(248, 249, 253, 0.1) !important;
    }
    .c_darkgray {
        color: #fff;
    }
    .allContract_tabBar {
        .van-tab {
            color: rgba(225, 225, 225, .7)
        }
    }
    .van-cell-group {
        background-color: $color_night
    }
    .van-icon-arrow-left:before {
        color: #fff;
    }
    .van-password-input__security li {
        background: $color_night;
    }
    .stepItem .span {
        background: rgba(0, 0, 0, .3);
    }
    .van-field__control {
        color: rgba(255, 255, 255, 0.8)
    }
    .van-button--default {
        background: $color_night;
        color: #fff
    }
    .bg_exit_btn {
        background: #171E28
    }
    .bg_bg {
        background: $color_night;
    }
    .van-cell {
        background: $color_night;
        color: rgba(225, 225, 225, .8);
    }
    .van-action-sheet__cancel {
        background-color: $color_night;
        &::before {
            background-color: #151515
        }
    }
    .van-action-sheet__item {
        background-color: $color_night;
    }
    .van-action-sheet {
        color: #ffffff9e
    }
    .all_con {
        background: rgb(17, 17, 17);
    }
    .van-tabs__nav {
        background-color: $color_night;
    }
    .van-tab {
        color: #fff
    }
    .darkLine {
        height: 6px;
        // background: #0f1d30e6;
        background: #1e2633;
        margin-left: -15px;
        margin-right: -15px;
    }
    .bg_tabbar {
        //底部菜单
        background-color: #1C2530;
    }
    // 头部
    .header_bg_style {
        background-color: $color_night;
    }
    // bg
    .bg_ededed {
        background: #ededed
    }
    .bg_blue {
        background-color: $blue
    }
    .bg_fff {
        background: #fff
    }
    // color
    .cfff9 {
        color: #fff9
    }
    .c_blue {
        color: #499C7A
    }
    .c_green {
        color: #38BB96
    }
    .c_red {
        color: $red
    }
    .c000 {
        color: rgba(225, 225, 225, 1)
    }
    .c111 {
        color: rgba(225, 225, 225, .9)
    }
    .c222 {
        color: rgba(225, 225, 225, .9)
    }
    .c333 {
        color: rgba(225, 225, 225, .8) //定
    }
    .c444 {
        color: rgba(225, 225, 225, .7)
    }
    .c555 {
        color: rgba(225, 225, 225, .4)
    }
    .c666 {
        color: rgba(225, 225, 225, .7)
    }
    .c777 {
        color: rgba(225, 225, 225, .6) //定
    }
    .c888 {
        color: rgba(225, 225, 225, .7)
    }
    .c999 {
        color: rgba(225, 225, 225, .5)
    }
    .c_fff {
        color: #fff;
    }
    //背景颜色 
    .a_bg_fff {
        background: #fff
    }
    .a_bg {
        background: #F8F7FD
    }
    .b_bg {
        background: rgba(0, 0, 0, 0.4);
    }
    // 边框
    $e3e3e3:rgba(68, 68, 68, .4);
    .bor_t {
        border-top: 1px solid $e3e3e3
    }
    .bor_b {
        border-bottom: 1px solid $e3e3e3
    }
    .bor_l {
        border-left: 1px solid $e3e3e3
    }
    .bor_r {
        border-right: 1px solid $e3e3e3
    }
}

// 图片布局
.a_sub {
    vertical-align: sub
}

.a_middle {
    vertical-align: middle
}

.a_center {
    text-align: center
}

.a_left {
    text-align: left
}

.a_right {
    text-align: right
}

// 定位
.a_re {
    position: relative;
}

.a_ab {
    position: absolute
}

.a_fixed {
    position: fixed
}

// flex
.a_flex1 {
    flex: 1
}

.hei00 {
    height: 100%
}

.wid00 {
    width: 100%
}

.right0 {
    right: 0
}

.left0 {
    left: 0
}

.top0 {
    top: 0
}

.bottom0 {
    bottom: 0
}

// @for $i from 1 through 200 {
//     .hei#{$i} {
//         height: 1px * $i;
//     }
//     .minhei#{$i} {
//         min-height: 1px * $i;
//     }
//     .linehei#{$i} {
//         line-height: 1px * $i;
//     }
//     .wid#{$i} {
//         width: 1px * $i;
//     }
//     .size#{$i} {
//         font-size: 1px * $i;
//     }
//     .left#{$i} {
//         left: 1px * $i;
//     }
//     .right#{$i} {
//         right: 1px * $i;
//     }
//     .top#{$i} {
//         top: 1px * $i;
//     }
//     .bottom#{$i} {
//         bottom: 1px * $i;
//     }
//     .pad_l_#{$i} {
//         padding-left: 1px * $i;
//     }
//     .pad_r_#{$i} {
//         padding-right: 1px * $i;
//     }
//     .pad_l_r_#{$i} {
//         padding-left: 1px * $i;
//         padding-right: 1px * $i;
//     }
//     .pad_t_#{$i} {
//         padding-top: 1px * $i;
//     }
//     .pad_b_#{$i} {
//         padding-bottom: 1px * $i;
//     }
//     .pad_t_b_#{$i} {
//         padding-top: 1px * $i;
//         padding-bottom: 1px * $i;
//     }
//     .pad_#{$i} {
//         padding: 1px * $i;
//     }
//     // margin
//     .mar_l_#{$i} {
//         margin-left: 1px * $i;
//     }
//     .mar_r_#{$i} {
//         margin-right: 1px * $i;
//     }
//     .mar_l_r_#{$i} {
//         margin-left: 1px * $i;
//         margin-right: 1px * $i;
//     }
//     .mar_t_#{$i} {
//         margin-top: 1px * $i;
//     }
//     .mar_b_#{$i} {
//         margin-bottom: 1px * $i;
//     }
//     .mar_t_b_#{$i} {
//         margin-top: 1px * $i;
//         margin-bottom: 1px * $i;
//     }
//     .mar_#{$i} {
//         margin: 1px * $i;
//     }
// }
// 有标题 内容 padding-top
.a_title {
    padding-top: 0
}

// 行块
.inline_block {
    display: inline-block;
}

.inline {
    display: inline;
}

// 加粗
.bold {
    font-weight: bold
}

// vant 组件修改
// 1.van-tabs 底部颜色
.van-tabs__line {
    background-color: #499C7A !important
}

// 2. title  固定
.van-hairline--top-bottom {
    // position: fixed!important
}

.green_bg {
    background: #38BB96;
    color: #fff;
}

.green_bg1 {
    background: #c9e6d7;
    color: #fff;
}

.orange_bg {
    background: #E8054C;
    color: #fff;
}

.orange_bg1 {
    background: #fcdfd7;
    color: #fff;
}

// * {
//     -webkit-touch-callout: none;
//     -webkit-user-select: none;
//     -khtml-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
// }