img {
  display: block;
}

* {
  -webkit-overflow-scrolling: touch;
}

button {
  border: none;
}

.headers,
.footers {
  box-sizing: content-box;
}

.eils {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.font1 {
  font-weight: 500;
}

.bold_m {
  font-weight: bold;
}

.bolds {
  font-weight: 700;
}

.break_all {
  word-break: break-all;
}

.green_text {
  color: #38BB96;
}

.block {
  display: block;
}

.orange_text {
  color: #E8054C;
}

.red_text {
  color: #E8054C;
}

.dark_text {
  color: #C1C1C1;
}

.blue_text {
  color: #499C7A;
}

.blue_bg {
  background: #499C7A;
  color: #fff;
}

.green_bg {
  background: #38BB96;
  color: #fff;
}

.orange_bg {
  background: #E8054C;
  color: #fff;
}

.dark_bg {
  background: #C1C1C1;
  color: #fff;
}

.flex {
  display: flex;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.flex1 {
  flex: 1;
}

.align_center {
  align-items: center;
}

.flex_center {
  justify-content: center;
}

.flex_end {
  justify-content: flex-end;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.left_text {
  text-align: left;
}

.right_text {
  text-align: right;
}

.center_text {
  text-align: center;
}

.container_common {
  padding: 0 15px 20px;
  height: 100%;
}

.container_common1 {
  padding: 0 15px;
  height: 100%;
}

.pt_0 {
  padding-top: 0 !important;
}

.border_none {
  border: none !important;
}

input {
  -webkit-appearance: none;
}

.opacity1 {
  opacity: 0.1;
}

.opacity2 {
  opacity: 0.2;
}

.opacity3 {
  opacity: 0.3;
}

.opacity4 {
  opacity: 0.4;
}

.opacity5 {
  opacity: 0.5;
}

.opacity6 {
  opacity: 0.6;
}

.opacity7 {
  opacity: 0.7;
}

.opacity8 {
  opacity: 0.8;
}

.opacity9 {
  opacity: 0.9;
}

.opacity10 {
  opacity: 1;
}
